{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".css"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "globals": {
    "window": true,
    "document": true
  },
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/interface-name-prefix": 0, // 제거될 규칙임. 참고(https://github.com/typescript-eslint/typescript-eslint/blob/v2.28.0/packages/eslint-plugin/docs/rules/interface-name-prefix.md),
    "no-console": 1, // 점검할땐 2로 변경할것.
    "react/jsx-filename-extension": [2, { "extensions": [".tsx", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "no-unused-vars": 2,
    "import/extensions": [
      "error",
      "ignorePackages", {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "json": "never"
      }
    ]
  }
}