{
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.spec.*"
  ],
  "extension": [
    ".js",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "node_modules",
    "dist",
    "asserts",
    ".cache",
    "test"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "all": true
}